@charset "utf-8";
/* CSS Document */

body{
    color: #333333;
    background-color: #2D94D9;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.6;
}

input {
    padding: 5px;
    width: 150px;
    font-size: 20px;
   }


input[type="button"] {
    width: 200px;
    -webkit-appearance: none;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    font-size: 20px;
}
    